.edit-container {
    margin: 80px 100px;
    padding: 60px 80px;
    border: 1px solid black;
}

.HeaderBlock {
    padding-bottom: 80px;
}

.User {
    width: 650px;
}
.textUser {
    float: left;
}